

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nusret E-Ticaret</title>
</head>
<body>
    <partial name="_Navbar" />
    <br />
    @RenderBody()

</body>
@RenderSection("Scripts", false)
</html>
